<footer>
    <nav>
        <ol>
            <li> <a href="//apps.facebook.com/romance-name/">
              Back to Your Romance Novel Author Name</a>
            </li>
        </ol>
    </nav>
</footer>