<footer>
    <nav>
        <ol>
            <li> <a href="//romance-author-name.herokuapp.com/index">
              Back to Your Romance Novel Author Name</a>
            </li>
            <li> <a href="//romance-author-name.herokuapp.com/privacy">
              Privacy statement</a>
            </li>
            <li> <a href="//romance-author-name.herokuapp.com/tos">
              Terms of service</a>
            </li>
        </ol>
    </nav>
</footer>