
        <div id="container">
            <header id="header">
                <h1>
                    Your Romance Novel Author Name
                </h1>
<%# =session['fb_error'] %>
<% if session['fb_auth'] %>
        <a href='logout'><img src='images/fb_logout_button.png'></a>
<% else %>
        <a href='login'><img src='images/fb_login_button.png'></a>
<% end %>
                <div class="fb" id="fb-like">
                    <iframe src="//www.facebook.com/plugins/like.php?href=%2F%2Fapps.facebook.com%2Fromance-author-name&amp;layout=standard&amp;show_faces=true&amp;width=250&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:80px;" allowtransparency="true">
                    </iframe>
                </div>
            </header>
            <div id="main">
                <div id="fb-root">
                </div>
                <article class="post">
                    <section>
                        <p>Ashamed to put your real name on that potentially best-selling genre fiction you wrote last <a href="//nanowrimo.org">NaNoWriMo</a>?</p>
                        <p>Generate your author name--and pay off your mortgage!
                        </p>
                    </section>
                    <section class="entry" id="output">
                        <form>
                            <fieldset>
                                <ol>
                                    <li>
                                        <input id="generate" type="button" value="Generate your author name" />
                                    </li>
                                    <li class="toggled">
                                        <label>
                                            Your romance novel author name is 
                                        </label>
                                        <input type="text" placeholder="...just a sec..." />
                                    </li>
                                    <% if session['fb_auth'] %>
                                    <li>
                                        <input id="wall" type="button" value="Post your name to your Wall" />
                                    </li>
                                    <% end %>
                                </ol>
                            </fieldset>
                        </form>
                    </section>
                </article>
            </div>
            <footer>
                <nav>
                    <ol>
                        <li>
                            <a href="./about.html">
                                About this application</a>
                        </li>
                    </ol>
                </nav>
            </footer>
        </div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<div id="fb-root"></div>

<script src='/js/app.js'></script> 