<div class="main">
    <article class="post">
        <section>
            <p>A very simple Facebook divertissement, just because. Ruby-scraped strings from Wikipedia (thank you, Nokogiri gem), placed gently into a text input field for users to copy and use as they please.</p>
            <dl><dt>Data sources:</dt>

                <dd>
                    <ul>
                        <li><a href="//en.wikipedia.org/wiki/County_flowers_of_the_United_Kingdom">County flowers of the United Kingdom</a>

                        </li>
                        <li><a href="//en.wikipedia.org/wiki/List_of_Italian_PDO_cheeses">List of Italian PDO cheeses</a>

                        </li>
                        <li><a href="//en.wikipedia.org/wiki/List_of_Scottish_clans">Scottish clans</a>

                        </li>
                    </ul>
                </dd>
            </dl>
            <p>Developed by <a href="//twitter.com/mejarc">Melanie Archer</a> in California, USA. Gratitude to <a href="//banane.com">Anna Billstrom</a>.</p>
        </section>
    </article>
</div>
<%= erb :footer %>
